[submodule "riscv-linux"]
	path = riscv-linux
	url = https://github.com/WabashOS/riscv-linux.git
[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/WabashOS/riscv-isa-sim.git
[submodule "pfa-bare-test"]
	path = pfa-bare-test
	url = https://github.com/WabashOS/riscv-pk.git
[submodule "pfa_results"]
	path = pfa-results
	url = https://github.com/NathanTP/pfa_results.git
