[Unit]
Description=PFA related initialization (e.g. setting up swap)

[Service]
Type=oneshot
ExecStart=/root/fedora_init.sh

[Install]
WantedBy=default.target
