[Unit]
Description=PFA related initialization (e.g. setting up swap)
Requires=pfa.slice
After=pfa.slice

[Service]
Type=oneshot
ExecStart=/root/fedora_init.sh

[Install]
WantedBy=default.target
